* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 609px;
  width: 390px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url(./rasmlar/a5fcbde5258262f42e8d47435151dd5e6c7fc8ba.png) no-repeat center center/cover;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.card1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.card2 {
  font-size: 20px;
  cursor: pointer;
}

.card3 {
  margin-top: 100px;
  margin-left: 20px;
  width: 313px;
  height: 356px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  width: 313px;
  height: 117px;
}

p {
  width: 313px;
  height: 117px;
  font-size: 15.6px;
  margin-top: -10px;
}

.oxirgi {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 26px;
  margin-top: 52px;
}

.main2 {
  width: 378px;
  height: 154px;
  background-color: #ffffff;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}

.boshhhi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div7 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #1a1a1a;
}

.div7 i {
  font-size: 23px;
}

.tex {
  border: 0;
  border-top: 1px solid #585757;
  margin: 8px 0;
}

.dacha {
  font-size: 24px;
  color: #1a1a1a;
  margin-bottom: 8px;
}

.jobs {
  display: flex;
  gap: 15px;
  align-items: center;
  overflow-x: hidden;
}

.tass2 {
  font-size: 20px;
  color: #474747;
  cursor: pointer;
  padding-left: 11px;
}

.tass {
  background-color: #151c30;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
}

.rasm1 {
  width: 358px;
  height: 426px;
  background: url(./rasmlar/Skrinshot\ 2026-06-07\ 235120.png) no-repeat center center/cover;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.rasm2 {
  width: 358px;
  height: 426px;
  background: url(./rasmlar/Skrinshot\ 2026-06-07\ 235134.png) no-repeat center center/cover;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}